<!DOCTYPE html> 

 <html> 

 <head> 

 <title>Srivatsav G</title> 
	 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	 
	 
 </head> 

 <body>
	 <div class="container animated slideInDown">
		 <nav class="navbar navbar-expand-sm navbar-trans navbar-dark">
			 
			 <div class="navbar-header">
				<a id ="nav-landing" class="navbar-brand" href="landing">SRIVATSAV</a>
			</div>
			 
		 	<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
  			</button>
			
 
			<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
				<div class="d-flex justify-content-end">
					<ul class="navbar-nav mr-auto d-flex justify-content-end">

						<li class="nav-item">
							<a id ="nav-education" class="nav-link" href="education">EDUCATION</a>
						</li>
						<li class="nav-item">
							<a id ="nav-work" class="nav-link" href="workex">WORK</a>
						</li>
						<!--<li class="nav-item">
							<a class="nav-link" href="contact">CONTACT</a>
						</li>
						-->
				 </ul>
				
				</div>
			
 		 	</div>
		</nav>
	 </div>
	 

	
	
