<!DOCTYPE html> 

 <html> 

 <head> 
	 <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

 <title>Srivatsav G</title> 
	 
	<meta name="viewport" content="width=device-width, initial-scale=1">
	 	

	  	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.css">
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
	 <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">


		<script src="https://code.jquery.com/jquery-3.4.1.min.js"  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	  crossorigin="anonymous"></script>
		<script src="https://kit.fontawesome.com/b7045d6788.js" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.min.js
	"></script>
		<script type="text/javascript" src="/javascript/javascript.js"></script>
	 
	 
 </head> 

 <body>
	
	 
	 
	 
	 <!--NAVBAR-->
	 
	 <div class="container animated slideInDown">
		 <nav class="navbar navbar-expand-sm navbar-trans navbar-dark">
			 
			 <div class="navbar-header">
				<a id ="nav-landing" class="navbar-brand" href="/">SRIVATSAV</a>
			</div>
			 
		 	<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
  			</button>
			
 
			<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
				<div class="d-flex justify-content-end">
					<ul class="navbar-nav mr-auto d-flex justify-content-end">

						<li class="nav-item">
							<a id ="nav-education" class="nav-link" href="education">EDUCATION</a>
						</li>
						<li class="nav-item">
							<a id ="nav-work" class="nav-link" href="workex">WORK</a>
						</li>
						<!--<li class="nav-item">
							<a class="nav-link" href="contact">CONTACT</a>
						</li>
						-->
				 </ul>
				
				</div>
			
 		 	</div>
		</nav>
	 </div>
	 
	

	
	
