<%-include("partials/header")%>

<div class="container" id="landing-intro">
	<div class="row ">
		<div class="col-md-8 container" >
			<h5 class="animated fadeIn">
				Hi, I am Srivatsav.
				<br>
				<br>
				I'm a Web Developer & a Programmer, based in Bengaluru, India. I primarily work with these technologies and languages.
			</h5>

			
		</div>
		
		<div class="col-md-4">
				<div class="row">
					<div class="col skills group d-flex justify-content-around">
						<span data-lightbox="gallery" data-title=""><img src="/images/css.png" class="skill img-fluid animated flipInX"></span>
						<span data-lightbox="gallery" data-title=""><img src="/images/mongo.jpg" class="skill img-fluid animated flipInX"></span>	
						<span data-lightbox="gallery" data-title=""><img src="/images/C.png" class="skill img-fluid animated flipInX"></span>	
					</div>
				</div>


				<div class="row">
					<div class="col skills group d-flex justify-content-around">
						<span data-lightbox="gallery" data-title=""><img src="/images/nodejs.png" class="skill img-fluid animated flipInX"></span>
					
						<span data-lightbox="gallery" data-title=""><img src="/images/kotlin.jpg" class="skill img-fluid animated flipInX"></span>
						
						<span data-lightbox="gallery" data-title=""><img src="/images/JS.png" class="skill img-fluid animated flipInX"></span>	
					</div>
				</div>
			
				

			</div>
	
</div>
</div>



<div class="">
	<div class="container animated fadeIn" id="contact-container">
		<div class="row">

			<!--Start of Grid column-->		
			<div class="col-md-8 mb-md-0 mb-5 animated fadeIn">
				<h2 id="letsTalk">
					<strong>Let's talk</strong>
					<span>&nbsp&nbsp <i class="bell fas fa-phone-alt"></i></span>
				</h2>
				<br>
				<h5>
					I would love to hear from you.
				</h5>
				<h5>
					You can contact me in the following ways.
				</h5>
			</div>		
			<!--End of Grid column-->

			<!--Start of Grid column-->		
			<div class="col-md-4 mb-md-0 mb-5 animated fadeIn">			
				<div class= container>
					<div class="row contact-item">
						<span><a href="mailto:srivatsavg9@gmail.com"><i class="icon far fa-envelope"></i>&nbsp&nbsp&nbsp srivatsavg9@gmail.com</a></span> 
					</div>	
					<div class="row contact-item">
						<a href="https://www.linkedin.com/in/srivatsav-gopalakrishnan" target="_blank"><i class="icon fab fa-linkedin"></i>&nbsp&nbsp&nbsp Linkedin</a>
					</div>	

					<div class="row contact-item">
						<span><i class="icon fas fa-map-marker-alt"></i>&nbsp&nbsp&nbsp Bengaluru</span> 
					</div>	
				</div>

			</div>		
			<!--End of Grid column-->


		</div><!--End of row-->

	</div><!--end of contact container-->
	
</div>


<script>
	
	//GLOW
	document.getElementById("nav-landing").classList.add("glow");
	
	
	
	//SKILLS ICON
	
	let skills = document.getElementsByClassName("skill");
	
	
	
	for(var i=0; i < skills.length;i++){
		skills[i].addEventListener("mouseenter",function(){
			this.classList.add("animated","pulse");
		});
	}
	
	for(var i=0; i < skills.length;i++){
		skills[i].addEventListener("mouseleave",function(){
			this.classList.add("animated","bounce");
		});
	}
	
	
	
	
	//CONTACT ITEM HOVER
	let contactItems = document.getElementsByClassName("contact-item");
	
	
	for(var i=0; i < contactItems.length;i++){
		contactItems[i].addEventListener("mouseenter",function(){
			this.classList.add("animated","bounce");
		});
	}
	
	for(var i=0; i < contactItems.length;i++){
		contactItems[i].addEventListener("mouseleave",function(){
			this.classList.remove("animated","pulse");
		});
	}	
	
</script>




	


	</body> 

</html>


