<%-include("partials/header2")%>

<div class="container main-container animated fadeIn" id="workexContainer">
	<h4 class="animated slideInLeft">Senior Software Engineer at Photography by Arka </h4>
	
	<div class="row">
		
		<div class="workexImageCol container col-md-4 d-flex justify-content-center animated slideInLeft ">
			<!-- <a href="https://chartpoet.com/" target="_blank"><img class="img-fluid work-image" src="/images/ARKA4.PNG"></a> -->
		</div>
		
		<div class="col md-8 animated slideInRight">
			<p class="workDate">
			--Feb 2020 - Present
			</p>
			
			<ul>
				
				<li>Leading a team of 3 to design and launch arkaphotography.com, a portfolio & photo album web app.</li>
				<li>Integrate with APIs provided by social media platforms like Facebook, Instagram, Snapchat.</li>
				<li>Build and support Search  Engine Optimization strategies &  optimize keywords in content marketing.</li>
				<li>Analyze and report user traffic using Instagram Analytics and UTM Tagging through Google Analytics.</li>

			</ul>
			
		</div>
		
		
	</div>
			
		
</div>
	

<div class="container main-container animated fadeIn" id="workexContainer">
	<h4 class="animated slideInLeft">Software developer at Inkpedia Technologies </h4>
	
	<div class="row">
		
		<div class="workexImageCol container col-md-4 d-flex justify-content-center animated slideInLeft ">
			<a href="https://chartpoet.com/" target="_blank"><img class="img-fluid work-image" src="/images/chartpoet.PNG"></a>
		</div>
		
		<div class="col md-8 animated slideInRight">
			<p class="workDate">
			--May 2016 - Jan 2020
			</p>
			
			<ul>
				
				<li>Developing and maintaining ChartPoet.com, a business data visualization tool, using Node.js.</li>
				<li>Manage deployment infrastructure and responsible for API reliability.</li>
				<li>Developed the data visualization stack to plot the data queried by the data connectors and extended the existing visualization module to support a more comprehensive list of charts like pie charts, scatter plots, etc.</li>
				<li>Wrote connectors for multiple data sources like Google Analytics/ MySQL, etc.</li>
				<li>Designed and implemented the common data layer module which abstracted data sources from the visualization module to use non-standard, on-premise data sources like AdWords which helped users build visualizations from non-standard, on-premise data sources in addition to standard data sources like Google AdWords, Facebook ads, etc.</li>

			</ul>
			
		</div>
		
		
	</div>
		<div class="row">
		
		<div class="workexImageCol container col-md-4 d-flex justify-content-center animated slideInLeft ">
			<a href="https://www.yummba.in/" target="_blank"><img class="img-fluid work-image" src="/images/yummba_screenshot.png"></a>
		</div>
		
		<div class="col md-8 animated slideInRight">
			<p class="workDate">
			--2016
			</p>
			
			<ul>
				
				<li>Developed yummba.in, an e-commerce website for Health Smart. Yummba sells nutritious snacks made from whole-food ingredients.</li>

			</ul>
			
		</div>
		
		
	</div>
	
	
	<hr class="workex-hr">
	
	
	
	
	
	<div class="row">
		
		<div class="workexImageCol container col-md-4 d-flex justify-content-center animated slideInLeft ">
			<h4 class="animated slideInLeft">Intern at Inkpedia Technologies </h4>
		
		</div>
		
		<div class="col md-8 animated slideInRight">
			<p class="workDate">
			--2015
			</p>
			<ul>
				<li>I worked on one of Inkepedia technologies products : ChartPoet.com, a business data visualization tool. In my short stint there, I learned the necessary Javascript libraries to implement the web application. I also added line and bar graph capabilities to the application. </li>
			</ul>
			
		</div>
		
	</div>
	
</div>

<script>
	
	//LOADER
	
	$(window).on("load",function(){
		$(".loader-wrapper").fadeOut("slow");
	});
	
	
	
	document.getElementById("nav-work").classList.add("glow");

</script>



	


	</body> 

</html>
