<%-include("partials/header2")%>

	


<div class="container main-container animated fadeIn" id="workexContainer">
	<h4 class="animated slideInLeft">Senior Software Engineer at Photography by Arka </h4>
	
	<div class="row">
		
		<div class="workexImageCol container col-md-4 d-flex justify-content-center animated slideInLeft ">
			<a href="" target="_blank"><img class="img-fluid work-image" src="/images/ARKA4.png"></a>
		</div>
		
		<div class="col md-8 animated slideInRight">
			<p class="workDate">
			--Feb 2020 - Sept 2020
			</p>
			
			<ul>
				
				<li>Hired and led a team of 3 engineers to design and launch an Ads, portfolio & photo album web app. </li>
				<li>Worked closely with cross functional teams to ensure quality product output and represented the engineering team in investor meetings & product roadmap discussions.</li>
				<li>Designed  proprietary Ad campaign schema and integrated with external Ad APIs provided by platforms like Facebook, Instagram, Snapchat to optimize users’ Ad campaign strategies.</li>
				<!--<li>Analyze and report user traffic using Instagram Analytics and UTM Tagging through Google Analytics.</li> -->

			</ul>
			
		</div>
		
		
	</div>
			
	<hr class="workex-hr">

	<h4 class="animated slideInLeft">Software developer at Inkpedia Technologies </h4>
	
	<div class="row">
		
		<div class="workexImageCol container col-md-4 d-flex justify-content-center animated slideInLeft ">
			<a href="https://chartpoet.com/" target="_blank"><img class="img-fluid work-image" src="/images/chartpoet.PNG"></a>
		</div>
		
		<div class="col md-8 animated slideInRight">
			<p class="workDate">
			--May 2016 - Jan 2020
			</p>
			
			<ul>
				
				<li>Worked on ChartPoet.com, a business data visualization tool that supports 9 chart types and 8 data sources.</li>
				<li>Managed deployment infrastructure and responsible for API reliability. </li>
				<li>Adopted continuous deployment methodology to eliminate manual release effort by 4hrs per release. Canary setup reduced the number of incidents related to deployments by ~90%. Also Improved fault isolation and faster bug fixes.</li>
				<li>Abstracted the monolithic application into 3 separate standard layers: Visualization layer, Common Data layer & Connectors and designed the low level architecture for the data source agnostic common data layer. </li>
				<li>Developed the connectors for multiple data sources like MySQL, Google Analytics that accounted for ~60% of user scenarios.</li>
				<li>Prototyped, designed and developed the data visualization stack  that lets users plot the data queried by the connectors. </li>
				<li>Evaluated 6 visualization libraries and proposed the migration from D3.js to Chart.js in order to reduce training and development time.</li>
				 
			</ul>
			
		</div>
		
		
	</div>
	<div class="row">
		
		<div class="workexImageCol container col-md-4 d-flex justify-content-center animated slideInLeft ">
			<a href="https://www.yummba.in/" target="_blank"><img class="img-fluid work-image" src="/images/yummba_screenshot.png"></a>
			<!-- https://www.yummba.in/ -->
		</div>
		
		<div class="col md-8 animated slideInRight">
			<p class="workDate">
			--2016
			</p>
			
			<ul>
				
				<li>Developed yummba.in, an e-commerce website for Health Smart. Yummba sells nutritious snacks made from whole-food ingredients.</li>

			</ul>
			
		</div>
		
		
	</div>
	
	
	<hr class="workex-hr">
	
	
	
	
	
	<div class="row">
		
		<div class="workexImageCol container col-md-4 d-flex justify-content-center animated slideInLeft ">
			<h4 class="animated slideInLeft">Intern at Inkpedia Technologies </h4>
		
		</div>
		
		<div class="col md-8 animated slideInRight">
			<p class="workDate">
			--2015
			</p>
			<ul>
				<li>Added visualization capabilities to represent data as line graphs and bar charts. </li>
				<li>Improved unit test code coverage from 30% to 90%.</li>
				<li>Ramped up quickly and launched features to production within 3 weeks. Won the trust of the team and was given a return full-time offer.</li>
			</ul>
		</div>
		
	</div>
	
</div>

<script>
	
	//LOADER
	
	$(window).on("load",function(){
		$(".loader-wrapper").fadeOut("slow");
	});
	
	
	
	document.getElementById("nav-work").classList.add("glow");

</script>



	


	</body> 

</html>
